html, body, #root {
  height: 100%;
}

#root {
  &:before {
      background: url("./images/minion.png");
      background-size: 200px;
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: "";
      opacity: .08;
  }
  display: flex;
  align-items: center;
}

.container {
  input[type=text], input[type=password] {
      background: transparent !important;
      border: none;
      border-bottom: 2px solid #ccc;
      border-radius: 0;
  }

  #logo-container {
      margin-bottom: 1rem;

      strong {
          font-size: 1.6em;
      }
  }

  .minor-container {
      background: white;
      border-radius: 9px;
      padding: 30px;
      box-shadow: 3px 3px 5px #ccc;
  }
}
